html, body
{
    /* Adjusts font-size to be managable via 'em' values. */
    font-size: 62.5%;

    /* Adjusts margins and padding. (a mini 'css reset') */
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

h1, h2, h3, p, ul, li
{
    font-size: 1.6em;
    margin: 0em;
    padding: 0em;
    vertical-align: baseline;
}


body
{
    background-color: #FFF;
}

header, body
{
    padding-left: 2em;
}


header h1 {
    padding-bottom: 0.1em;
    /*margin-bottom: 3.5em;*/
}


.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}

.legend-element {
    width: 15px;
    height: 15px;
}

.team {
    fill: #fee8c8;
}

.team-html {
    background-color: #fee8c8;
}

.host {
    fill: #2b8cbe;
}

.gold {
    fill: #FFD700;
    opacity: .8;
    stroke: #252525;
    stroke-width: 2px;
}

.silver {
    fill: #d9d9d9;
    opacity: .8;
    stroke: #252525;
}

.selected {
    /*fill: #d20a11;*/
    fill: #5E35B1;
}

/*Map grid style*/
.grat {
    stroke: grey;
    stroke-width: 1px;
    opacity: .2;
}

@font-face {
    font-family: 'dusha';
    src: url('assets/dusha.ttf');
}

@font-face {
    font-family: 'aller';
    src: url('assets/aller.ttf');
}

h1 {
    font-size: 3em;
    margin-top: 0;
    font-family: 'dusha';
    color: #d20a11;
}

h2 {
    font-size: 2em;
    font-family: 'dusha';
    color: #d20a11;
    padding-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

* {
    font-family: 'aller';
}

header {
    position: relative;
    padding: 0.5em;
    clear: left;
    text-align: left;
    height: 120px;
    font-size: 2em;
    /*width: 100%;*/
}

#logo {
    position: absolute;
    right: 10px;
    /*float: right;*/
    /*text-align: right;*/
    height: 100px;
}

#details {
    float: left;
    width: 200px;
    padding: 0.5em;

    border-width: 1px;
    border-color: #d9d9d9;
    border-right-style: solid;
}

#details h3 {
    padding: 0.42em 0.2em 0.1em 0.2em;
}

#details span {
    padding: 0em 0em 0em 0.6em;
}

/* Not sure why, but lists react badly with this */
#details #teams {
    padding: 0em;
}

#details ul, li {
    font-size: 1em;
}

#details ul {
    padding: 0.02em 0.2em 0.02em 1.6em;   /* Top | Right | Bottom | Left */
}

#plot-selector {
    float: right;
    margin-bottom: 5px;

}

.view {
    position: absolute;
    white-space: nowrap;
    padding: 0.5em;
    font-size: 2em;
}

.view_background {
    background-color: #F2F2F2;
}

#details {
    white-space: normal;
}

#bar-chart {
    float: left;
    left: 234px;
    width: 600px;
    height: 540px;
    margin-right: 20px;
}

#barChart {
    position: relative;
    top: 28px;
    background-color: #FAFAFA;
}

#map-view {
    white-space: normal;
    position: relative;
    float: left;
    left: 840px;
    border-width: 1px;
    padding: 0em 0.2em 0.1em 1.6em;
    border-color: #d9d9d9;
    border-left-style: solid;
    height: 660px;
}

#map-view svg {
    position: absolute;
}

#map-view #map-svg {
    position: relative;
    top: 26px;
    background-color: #FAFAFA;
    /*background-color: red;*/
}

.graticule {
    fill: none;
    stroke: #363636;
    stroke-width: 1;
    /*stroke-dasharray: 1,1;*/
    opacity: 0.16;
}


#links > line {
    stroke: rgb(216, 216, 216);
}

#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}

#xAxis text,
#yAxis text {
    font-size: 14px;

}



.hidden {
    display: none;
}

.svg_tooltip {
    opacity: 0.92;
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    padding: 0.66em;
    border-radius: 0.8em;
    pointer-events: none;
    box-shadow: .2em .2em .6em rgba(0, 0, 0, 0.2);
}

.svg_tooltip span {
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}
.svg_tooltip #title,
.svg_tooltip #title_map{
    font-weight: bold;
}

#map_tooltip {
    opacity: 0.76;
    padding: 0.42em;
}

#selectionTitle h3 {
    font-weight: normal;
}

#selectionText {
    font-size: 1.4em;
    padding-top: 0.2em;
    padding-left: 0.6em;
    padding-bottom: 0.4em;
}
